# Python version: >=3.10
# torch pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
absl-py
adabound
ansicolors
argparse-color-formatter
astor
attrs
backcall
bleach
cachetools
certifi
cffi
chainer
chainercv
chardet
colorama
cssutils
cycler
Cython
decorator
defusedxml
dropblock
easydict
entrypoints
filelock
gast
google-api-python-client
google-auth
google-auth-httplib2
graphviz
grpcio
h5py
httplib2
idna
imageio
imgaug
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras-Applications
keras-mxnet
Keras-Preprocessing
kiwisolver
ll-xist
Markdown
MarkupSafe
matplotlib
mistune
mkl-fft
mkl-random
mock
msgpack
msgpack-numpy
mxnet
nbconvert
nbformat
networkx
notebook
numpy
oauth2client
olefile
opencv-python
packaging
pandas
pandocfilters
parso
pbr
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pycoco
pycocotools
pycparser
PyDrive
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
requests
rsa
scikit-image
scipy
Send2Trash
Shapely
six
tabulate
tensorboard
tensorboardX
tensorflow-estimator
tensorpack
termcolor
terminado
testpath
tornado
tqdm
traitlets
typing
typing-extensions
uritemplate
urllib3
wcwidth
webencodings
websockets
Werkzeug
widgetsnbextension
pycocotools
